:root {
    --main: #009384;
    --second: #fa0;
    --white: #e5e5e5;
    --gray: #495057;
    --background: #2e303e;
}
.sr-only {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
html,
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Montserrat;
    background-color: var(--background);
    color: var(--white);
    scroll-behavior: smooth;
}
body {
    background: url(/public/images/background_mobile.png) no-repeat center top;
}
.webp body {
    background: url(/public/images/background_mobile.webp) no-repeat center top;
}
body {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--white);
}
main {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: var(--white);
    font-size: 1em;
    text-decoration: none;
}
a:hover {
    color: var(--second);
}
h1 {
    font-size: 1.8em;
    color: var(--main);
}
@media (min-width: 768px) {
    main {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 2.6em;
    }
}
@media (min-width: 992px) {
    main {
        margin: 0;
    }
    h1 {
        font-size: 3em;
    }
}
header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
header.active {
    background-color: #1d1e26e6;
    transition: all 0.5s;
    height: 100%;
}
header .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
}
header .header-top #logo {
    width: 1.6em;
}
header .header-top #logo svg {
    fill: var(--main);
}
header .header-top #logo:hover svg {
    fill: var(--second);
}
header .header-top .burger:hover {
    cursor: pointer;
}
header .header-top .burger div {
    height: 8px;
    width: 40px;
    background-color: var(--main);
    transition: all 0.5s;
}
header .header-top .burger:hover div {
    background-color: var(--second);
}
header .header-top .burger div:nth-of-type(2n) {
    margin: 0.4em 0;
}
header.active .burger div:first-child {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    transform: rotate(-45deg) translate(-10px, 10px);
}
header.active .burger div:nth-of-type(2n) {
    opacity: 0;
}
header.active .burger div:last-child {
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px);
}
header nav {
    display: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s;
}
header.active nav {
    display: flex;
    opacity: 1;
}
header nav ul {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
header nav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav ul li a:hover {
    color: var(--second);
    cursor: pointer;
}
header nav ul li a p {
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: uppercase;
}
header nav ul li a svg {
    margin: 1em;
    width: 40px;
    max-height: 40px;
    fill: var(--main);
}
header nav ul li a:hover svg {
    fill: var(--second);
}
section {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
section:not(#home) {
    max-width: 1200px;
}
section a.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
section a.link > p {
    padding: 0.4em;
    font-size: 1.2em;
}
section a.link svg {
    width: 1.4em;
    fill: var(--main);
}
section a.link:hover svg {
    fill: var(--second);
}
section#home {
    position: relative;
}
section#home .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 850px;
}
section#home .content * {
    text-align: center;
}
section#home .content > * {
    padding: 1em;
}
section#home .content figure {
    height: 80%;
    max-height: 200px;
    max-width: 80%;
}
section#home .content img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
section#home .content p {
    font-size: 1em;
    font-style: italic;
    color: var(--second);
}
section#home > a {
    position: absolute;
    bottom: -2em;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 1em;
    width: 4em;
}
section#home > a img {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    section#home .content {
        flex-direction: row;
        justify-content: center;
    }
    section#home .content figure {
        height: 100%;
        max-height: none;
    }
    section#home .content p {
        font-size: 1.2em;
    }
    section#home > a {
        bottom: 0;
        right: 1em;
        transform: translateX(0%);
    }
}
@media (min-width: 992px) {
    section#home .content > * {
        padding: 2em;
    }
    section#home .content p {
        font-size: 1.8em;
    }
}
section#about-me {
    justify-content: space-evenly;
    padding: 80px;
    height: calc(100vh - 80px);
}
section#about-me div {
    display: flex;
    flex-direction: column;
}
section#about-me div p {
    text-align: start;
    font-size: 1.2em;
    line-height: 1.4em;
}
section#about-me div > p:first-child {
    max-width: 775px;
    padding: 1em 0;
}
section#about-me div > p:first-child span {
    color: var(--second);
}
section#about-me > figure {
    width: 100%;
    margin: auto;
    max-width: 450px;
}
section#about-me > figure img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 768px) {
    section#about-me {
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
    section#about-me > * {
        padding: 2em;
    }
    section#about-me > div {
        width: 100%;
    }
    section#about-me div > p:first-child {
        padding: 0em;
        text-align: start;
    }
    section#about-me > img {
        width: 46%;
        height: auto;
    }
}
@media (min-width: 1200px) {
    section#about-me > div {
        max-width: 450px;
    }
    section#about-me > img {
        width: auto;
    }
}
section.sect-list {
    justify-content: space-evenly;
}
section.sect-list > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sect-list > ul li h2 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main);
    padding: 0.8em;
}
section.sect-list > ul li p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
}
section.sect-list > ul li p.more {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    padding: 0.6em 0.2em 0;
}
section.sect-list > ul li a:hover p.more {
    color: var(--second);
}
section.sect-list > ul li a img {
    display: none;
}
section.sect-list > ul > img {
    padding-top: 0.4em;
    height: 6vh;
    width: auto;
}
@media (min-width: 768px) {
    section.sect-list > ul {
        flex-direction: row;
        justify-content: center;
    }
    section.sect-list > ul li a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    section.sect-list > ul li:nth-of-type(2n) a {
        flex-direction: column-reverse;
    }
    section.sect-list > ul li div {
        padding: 0.8em 0.4em 1.6em;
    }
    section.sect-list > ul li p.more {
        text-align: end;
    }
    section.sect-list > ul li a > figure {
        height: 220px;
        width: 220px;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        overflow: hidden;
    }
    section.sect-list > ul li a > figure img {
        display: block;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    section.sect-list > ul > img {
        display: none;
    }
}
section#contact {
    justify-content: center;
    max-width: 950px;
}
form {
    display: flex;
    flex-direction: column;
}
form > div {
    width: 100%;
}
form > div:first-child {
    display: flex;
    flex-direction: row;
}
form > div:first-child div.form-part {
    width: 50%;
}
form > div:first-child div:first-child {
    padding-right: 0.4em;
}
form > div:first-child div:last-child {
    padding-left: 0.4em;
}
form div.form-part {
    padding: 0.6em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form div.form-part > * {
    width: 100%;
    color: var(--white) !important;
}
.form-control {
    background-color: transparent;
    margin: 12px auto;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--white);
}
.form-control:focus {
    color: var(--gray);
    background-color: transparent;
    border-color: var(--gray);
    box-shadow: none;
}
.form-control:focus-visible {
    outline: none;
    border-color: var(--second);
}
input[type="submit"] {
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid var(--main);
}
input[type="submit"]:hover {
    background-color: var(--main);
    color: var(--black) !important;
    cursor: pointer;
}
label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}
.check-form-label p {
    margin: 0 0.4em;
    line-height: 1.2;
    font-size: 0.9em;
}
.check-form-label svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--white);
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    min-width: 20px;
}
.check-form-label svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check-form-label svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check-form-input:checked + .check-form-label svg {
    stroke: var(--white);
}
.check-form-input:checked + .check-form-label svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.check-form-input:checked + .check-form-label svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}
div.alert {
    position: fixed;
    bottom: 3em;
    right: 1.8em;
    padding: 2em;
    background-color: var(--main);
}
footer {
    padding: 0.8em 0;
    text-align: center;
}
footer p {
    color: var(--gray);
    text-align: center;
}
main.page {
    min-height: 100vh;
}
main.page section {
    height: auto;
}
main#career section {
    max-width: 1000px;
}
main.page h1 {
    padding: 3em 0 1em;
    text-align: center;
}
main.page h2,
main.page section.sect-list > ul li h2 {
    color: var(--second);
}
main.page section.text h2 {
    font-size: 1.6em;
    padding: 2em 0 0.8em;
}
main.page section.text h2:first-child {
    padding: 0 0 0.8em;
}
main.page section.text h3 {
    color: var(--main);
    padding: 1em 0 0.4em;
    font-size: 1.2em;
    font-weight: 800;
}
main.page section.text p,
main.page section.text li {
    font-size: 1.2em;
    line-height: 1.2em;
}
main.page section.text p {
    padding: 0 0 0.4em;
}
main.page section.text a {
    text-decoration: underline;
    font-style: italic;
}
main.page section.career ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.page section.career li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1em;
    max-width: 300px;
}
main.page section.career li figure {
    max-width: 120px;
    max-height: 120px;
    padding: 1em;
}
main.page section.career li figure img {
    width: 100%;
}
main.page section.career li h2:first-child {
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8em;
}
main.page section.career li p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    opacity: 0.4;
}
@media (min-width: 768px) {
    main.page section.career ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    main.page section.career li figure {
        display: block;
    }
    main.page section.career li h2:first-child {
        min-height: 80px;
        padding: 0 0 0.4em;
        font-size: 1em;
    }
    main.page section.career li p {
        padding: 0 0 0.4em;
        text-align: start;
        font-size: 1em;
    }
}
.project main {
    margin: 0;
    padding: 5em 2em 2em;
    height: auto;
    width: calc(100vw - 4em);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project main > div {
    width: 100%;
}
.project main > div.left > h1 {
    padding: 0;
    font-size: 2em;
    text-align: start;
}
.project main > div.left > h1 > sub {
    font-size: 0.6em;
    font-style: italic;
    color: var(--second);
    font-weight: 400;
}
.project main > div.left figure.mobile {
    max-width: 100%;
    overflow: hidden;
}
.project main > div.left figure.mobile img {
    max-width: 100%;
    height: auto;
}
.project main > div.left p {
    padding-top: 1em;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}
.project main > div.left p.type {
    padding: 1em 0 2em;
    opacity: 0.4;
    text-align: start;
}
.project main > div.right .gallery {
    display: none;
}
.project main > div.right h2 {
    font-size: 2em;
    padding: 0.4em 0;
    color: var(--second);
    text-align: start;
}
.project main > div.right ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.project main > div.right ul li {
    display: inline-block;
    padding: 0.4em;
    border: 2px var(--white) solid;
    opacity: 0.4;
    border-radius: 0.4em;
    margin: 0 0.4em 0.4em;
}
.project footer > a {
    display: none;
}
@media (min-width: 768px) {
    .project main {
        height: 100vh;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
    }
    .project main > div {
        padding: 0 1em;
    }
    .project main > div.left {
        width: 40%;
    }
    .project main > div.right {
        width: 60%;
    }
    .project main > div.left figure.mobile {
        display: none;
    }
    .project main > div.left > h1 {
        font-size: 2em;
    }
    .project main > div.left p {
        padding: 0;
    }
    .project main > div.left p.type {
        padding: 2em 0;
    }
    .project main > div.right .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project main > div.right .gallery > figure:first-child {
        height: 50%;
        margin-bottom: 0.4em;
        overflow: hidden;
    }
    .project main > div.right .gallery > figure:not(:first-child) {
        width: calc(50% - 0.4em);
        height: 50%;
        margin-top: 0.4em;
        overflow: hidden;
    }
    .project main > div.right .gallery > figure:not(:first-child) img {
        height: 100%;
        width: 100%;
    }
    .project main > div.right .gallery > figure:nth-child(2) {
        margin-right: 0.4em;
    }
    .project main > div.right .gallery > figure:nth-child(3) {
        margin-left: 0.4em;
    }
    .project main > div.right .gallery > figure > img {
        width: calc(100% - 0.8em);
        height: auto;
        padding: 0.4em;
    }
    .project main > div.right h2 {
        font-size: 1.6em;
        text-align: right;
    }
    .project main > div.right ul {
        justify-content: right;
    }
    .project footer {
        padding: 0.8em 1.2em;
        width: calc(100% - 2.4em);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .project footer > a {
        display: block;
        color: var(--second);
        opacity: 0.6;
    }
    .project footer > a:hover {
        color: var(--main);
    }
}
figcaption {
    padding: 1em;
}
figcaption a.link {
    text-align: end;
    display: block;
    font-style: italic;
}
